* {
    background-color: red;
}

h1 {
    background-color: white;
    text-align: center;
    font-size: larger;
    font-style: italic;
    color: aqua;
    padding: 20px;
    margin: 40px;
    border: 5px solid black;
}

.box {
    height: 300px;
    width: 400px;
    background-color: #fff;
    text-align: center;
    color: brown;
    justify-content: center;
    padding: 0px;
    margin-left: 300px;
    background-image: url("jingwei-ke-oWoBnXh1a_M-unsplash.jpg");
    background-size: cover;
    padding-top: 20px;
}

span {
    background-color: gray;
}

img {
    height: 200px;
    width: 200px;
}